*.html
*.txt
replication_cnv_snakemake/**/.snakemake/
replication_cnv_snakemake/**/*.tranches
replication_cnv_snakemake/**/*.recal
replication_cnv_snakemake/**/*.recal.idx
replication_cnv_snakemake/**/*.recal.table
replication_cnv_snakemake/**/*.vcf
replication_cnv_snakemake/**/*.vcf.idx
replication_cnv_snakemake/**/*.bam
replication_cnv_snakemake/**/*.bam.bai
replication_cnv_snakemake/**/*.fastq
replication_cnv_snakemake/**/*.fastq.gz
replication_cnv_snakemake/**/*.grp
replication_cnv_snakemake/**/*.xlsx
replication_cnv_snakemake/**/*.tsv
replication_cnv_snakemake/**/*.avinput
replication_cnv_snakemake/**/*.flagstat
replication_cnv_snakemake/**/*.log
replication_cnv_snakemake/**/*.pdf
replication_cnv_snakemake/**/index/

